
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>用户登录</title>
	<link rel="stylesheet" href="../static/css/base.css" />
	<link rel="stylesheet" href="../static/css/login.css" />
</head>
<body style="margin: 0 auto;width: 100%;height:1500px;overflow-y: hidden;">
<div class="superlogin"></div>
<div class="loginBox">
	<div class="loginMain">
		<div class="tabwrap">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr><td>&nbsp;</td><td class="title" style="text-indent:1.8em;">欢迎您登录教务管理系统</td></tr>
			<tr><td class="title">账   号：</td><td><input type="text" id="account" name="account" class="form-control txt" placeholder="教师工号"/></td></tr>
			<tr><td class="title">密   码：</td><td><input type="password" id="password" name="password" class="form-control txt" placeholder="密码"/></td></tr>
			<tr><td>&nbsp;</td><td><input type="button" class="loginbtn" value="登录" onclick="login()"/><input type="button" class="resetbtn" value="重置" onclick="resets()"/></td></tr>
			<tr><td>&nbsp;</td><td class="forgetpsw"></td></tr>
		</table>
		</div>
	</div>
</div>
<script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../static/js/loginb.js"></script>
<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
</body>
</html>
